@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50 text-gray-800 font-sans;
  }
}

@layer components {
  .section-title {
    @apply text-3xl font-semibold mb-6 text-center;
  }
}
